<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EAT DA BURGER</title>
    <link rel="icon" href="/assets/images/bicon.png" type="image/gif" sizes="16x16">
    <!-- Style Sheets links -->
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Sedgwick+Ave+Display" rel="stylesheet">
    <!-- Style Sheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
    <!-- Scripts -->  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>    
    <div  id="header">   
      <div class="container text-left">
        <h1>Nelum</h1>
    </div>
    </div>
      <div class="container text-center">
        <div class="centerContainer text-center">
        <h1><div id="Logo">EAT DA BURGER</div></h1>
        <img src = "/assets/images/burger009.gif" alt="gif image" id ="image">
        {{{body}}}
        </div>
      </div>

    <footer class="container-fluid text-center" class = "mainFooter">
    <a href="https://www.linkedin.com/in/nelum-sam/" target="_blank" class="fa fa-linkedin"></a>
      <a id="mail" href="mailto:dnks2000@gmail.com?Subject=Portfolio Site Contact" Target="_top" class="fa fa-envelope"></a>
      <a href="https://github.com/Dil2000" target="_blank" class="fa fa-github"></a>
      <p id="email"> dnks2000@gmail.com</p>
      <p id="footerText">&copy copyright 2017 Nelum Sam</p>
    </footer>


  </body>
</html>



